example/.vscode/.cortex-debug.peripherals.state.json
example/.vscode/.cortex-debug.registers.state.json
example/.vscode/launch.json
**/build/**
*.bak
examples/example/.vscode/settings.json
src/FreeRTOS+FAT+CLI/.vscode/settings.json
